<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @diagnostic.code %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
