<div id="welcome">
  <h2 id="welcome-message">Welcome to All About Skin</h2>

  <p>
    We specialize in all types of skin treatment.
    Our physicians has a total of over 30 years of experience.
  </p>

  <p>
    <strong>Office Hours</strong></br>
    Monday - Friday: 8 AM - 4:30 PM</br>
    Saturday - Sunday: Closed
  </p>
</div>