<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.full_name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.full_name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Fee:</strong>
  <%= number_to_currency(@appointment.fee) %>
</p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @appointment.diagnostic.code %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
