<!DOCTYPE html>
<html>
  <head>
    <title>CIS4339 Individual Project</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1>All About Skin</h1>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Patient', patients_path %>
      <%= link_to 'Physician', physicians_path %>
    </div>

    <%= yield %>

  </body>
</html>